div{ 
  backgrounf-color: rgb(171,171,238); 
  height: 100px; 
  width: 100px;
}
.panel{ 
  height: 100px; 
  width: 150px;
  background-color: rgb(245,138,156); 
} 
 .intro{
   height: 50px; 
   width: 100px; 
   background-color: rgb(142, 116, 230; 
 }

.box1{
  width: 150px; 
  height: 150px; 
backgroud-color: rgb(127,181,239);
}

.box2{
  width: 150px;
  height: 150px; 
background-color: rgb(127,181,239)
}

#text{
  font-size: 30px;
  color: rgb(236, 78, 78); 
text-align: center; 
}
